/* a{
    text-decoration: none;
}


.logo{
   max-width: 250px ; 
    height: 90px;
    border-radius: 10px;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
      
    width: 100%;
}


.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(101, 238, 174, 0.553);
    
    
} */
