
.nosotros{
    background-color: rgb(240, 236, 236);
}
.titulo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 50px;
  
    position: relative;
    color: black;
    font-family: 'Lobster', cursive;
   

}
.rotate-words{
    display: inline;
    margin-left: 10px;
}
.rotate-words span{
    width: max-content;
    position: absolute;
    background-color: rgba(143, 139, 139, 0.771);
    padding-inline: 10px;
    opacity: 0;
    transform-origin: 10% 75%;
    animation: rotateWords 5s
    var(--d)linear infinite;
}
.d0s {
    --d: 5s;
    font-size: 30px;
    font-family: 'Lobster', cursive;
  }
  
  .d4s {
    --d: 4s;
  }
  
  
@keyframes rotateWords{
   5%{
    opacity: 1;
   }
   10%,
   20%{
    opacity: 1;
    transform: rotate(3deg);
   }
   15%{
    transform: rotate(-1deg);
   }
   25%{
    opacity: 0;
    transform: translateY(90px)
    rotate(10deg);
   }
}
.exterior-abierto{
    max-width: 45%;
    height: auto;
    border-radius: 30px;
    padding: 20px;
}
.texto{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    border: solid 1px black;
    margin: 20px;
    background-color:  rgba(101, 238, 174, 0.504);
}
.nos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
@media(max-width: 768px){
    .titulo{
        font-size: 100wv;
        flex-direction: column;
        text-align: center;
      }
    .nos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .exterior-abierto{
        max-width: 80%;
    }
    .rotate-words{
        
         margin: 0;
        
    }
    .d0s {
        font-size: 25px;
        margin-left: -20px;
      }
}